@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden scroll;
}

.bg {
    background: rgb(0,0,16);
    background: linear-gradient(0deg, rgba(8,8,8,1) 0%, rgba(16,16,32,1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index:-1;
}