@import "tailwindcss";

html {
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.bg {
  background: radial-gradient(rgba(32, 32, 32, 1) 0%, rgba(16, 16, 16, 1) 100%);
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 120%;
  width: 100%;
  z-index: -1;
}

.MuiButtonBase-root {
  text-transform: none !important;
}

.thin-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

.thin-scroll::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

.thin-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%) translateX(-2rem);
  }
}
